@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat:wght@100&family=Open+Sans:wght@800&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* Header Start */
header {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 240px;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo > img {
  width: 50px;
}
.nav-logo > p {
  padding-left: 10px;
  font-weight: 700;
  font-size: 2rem;
}
.nav-logo > p > span {
  color: #ff42a5;
}
.nav-items > ul {
  display: flex;
  align-items: center;
  gap: 32px;
}
.nav-items li {
  list-style: none;
}
.nav-items a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.2rem;
  font-weight: 500;
}
.nav-icon {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 18px 24px;
}
.nav-icon i {
  font-size: 1.2rem;
  padding-left: 20px;
}
/* Header End */

/* Main Start */

/* Goat Sec Start */
.goat-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("./images/Group\ 14.png");
  background-repeat: no-repeat;
}
.goat-sec-info {
  margin-left: 240px;
}
.goat-title {
  color: #0b0223;
  font-weight: 600;
  font-size: 3rem;
}
.goat-name {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 800;
  font-size: 6rem;
  margin-bottom: 24px;
}
.goat-p {
  color: #534c64;
  font-weight: 500;
  font-size: 1.04rem;
  margin-bottom: 15px;
}
.goat-btn-one {
  border-radius: 48px;
  background: #ff42a5;
  padding: 20px 40px;
  color: #fff;
  font-weight: 600;
  font-size: 1.04rem;
}
.goat-btn-tow {
  border-radius: 48px;
  background: #4ec5f7;
  padding: 20px 40px;
  color: #fff;
  font-weight: 600;
  font-size: 1.04rem;
  margin-left: 15px;
}
.goat-sec button {
  margin-top: 40px;
  border: 0px;
}
.goat-sec > img {
  margin-right: 240px;
}
/* Goat Sec End */
/* Online Games Sec Start */
.online-games {
  margin: 100px 240px;
}
.online-games-info {
  text-align: center;
}
.online-games-t {
  color: #0b0223;
  font-weight: 700;
  font-size: 3rem;
  padding-bottom: 16px;
}
.online-games-t span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.online-games-p {
  color: #534c64;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 45px;
}
.online-games-cards {
  display: flex;
  gap: 24px;
}
.online-games-div {
  position: relative;
}
.overly {
  position: absolute;
  width: 342px;
  height: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: #0b0223;
  border-radius: 16px;
  border: 5px solid #ff42a5;
  cursor: pointer;
}
.watch-now {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.online-games-div:hover .overly {
  opacity: 0.8;
}
.online-games-div p {
  padding-top: 24px;
  color: #534c64;
  font-weight: 500;
  font-size: 1.04rem;
}
/* Online Games Sec End */
/* play games Start */
.play-game-sec{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.play-game-img{
  width: 50%;
  position: relative;
}
.play-game-img img{
  width: 80%;
  height: 100%;
  
}
.play-game-img-tow img{
  width: 300px;
  height: 350px;
  position: absolute;
  top: 62%;
  left: 59%;
}
.play-game-info{
  width: 50%;
  margin-left: 100px;
}
.play-game-title{
  color: black;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 24px;
}
.play-game-title span{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-game-desc{
  color: #534C64;
  font-size: 1.02rem;
  font-weight: 400;

}
/* play games End */
/* button Sec Start */
.batons-sec {
  width: 1440px;
  margin: 200px auto 0px;
}
.icons {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: #fff;
  flex-basis: 250px;
  border: 3px solid white;
  margin: 1%;
}
.content img {
  padding-right: 15px;
}
.content:hover {
  border: 3px solid rgb(235, 17, 255);
  color: #ff42a5;
  cursor: pointer;
}
/* button Sec End */
/* Main End */
/* footer Start */
footer {
  margin-top: 200px;
  background: #0b0223;
  color: #fff;
}
.foot {
  padding-top: 100px;
  justify-content: center;
}
footer ul {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 60px;
}
footer ul > li {
  list-style: none;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
}
.foot-icons a {
  color: #fff;
  font-size: 1.8rem;
}
.another-li li {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
}
.copy-right {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-top: 30px;
  padding-bottom: 100px;
  font-size: 1rem;
  font-weight: 500;
}
/* footer End */


/* Media Query For Mobile User */
@media screen and (max-width: 576px) {
  /* Header Start */
  main {
    padding: 15px;
  }
  nav {
    flex-direction: column;
    padding: 0;
  }
  .nav-logo,
  .nav-icon {
    margin-top: 50px;
  }
  .nav-items > ul {
    margin-top: 50px;
    flex-direction: column;
  }
  /* Header End */
  /* Main Start */
  /* Goat Sec Start */
  .goat-sec {
    margin-top: 75px;
    flex-direction: column-reverse;
    background-position: bottom;
    background-size: 500px;
  }
  .goat-sec > img,
  .goat-sec-info {
    width: 100%;
    margin: 0px;
  }
  .goat-sec-info {
    padding: 20px;
    margin-top: 50px;
  }
  .goat-sec-info .goat-title{
    font-size: 2.50rem;
  }
  .goat-sec-info .goat-name{
    font-size: 4.50rem;
  }
  /* Goat Sec End */
  /* Online Games Sec Start */
  .online-games {
    margin: 0;
  }
  .online-games-cards {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .online-games-info {
    margin-top: 50px;
  }
  /* Online Games Sec End */
  /* play games Start */
  .play-game-sec{
    flex-direction: column-reverse;
    margin: 0px;
  }
  .play-game-img{
    width: 80%;
    margin-right: 25px;
  }
  .play-game-img img{
    width: 100%;
    height: 100%;
  }
  .play-game-img-tow img{
    width: 40% ;
    height: 50%;
    left: 75%;
  }
  .play-game-info{
    margin: 30px 0px ;
    width: 100%;
    text-align: center;
  }
  /* play games End */
  /* button Sec Start */
  .batons-sec {
    width: 100%;
    margin: 100px auto 0px;
  }
  .content {
    flex-basis: 100px;
    margin: 15px;
  }
  .content img {
    width: 30px;
    padding-right: 5px;
  }
  .content p {
    font-size: 0.5rem;
  }
  /* button Sec End */
  /* Main End */
  /* footer Start */
  footer {
    width: 100%;
    margin-top: 0px;
  }
  footer ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    text-align: center;
  }
  footer ul > li{
    padding: 20px;
  }
  .another-li ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .another-li ul li{
    padding: 10px;
  }
  /* footer End */
}



/* Media Query For Tablet User */
@media screen and (min-width: 576px) and (max-width: 992px) {
  main {
    padding: 50px;
  }
  /* Header Start */
  nav {
    flex-direction: column;
    padding: 0;
  }
  .nav-logo {
    margin-top: 50px;
  }
  .nav-items > ul {
    margin-top: 50px;
    gap: 50px;
  }
  /* Header End */
  /* Main Start */
  /* Goat Sec Start */
  .goat-sec {
    margin-top: 75px;
    flex-direction: column-reverse;
    background-position: bottom;
    background-size: 500px;
  }
  .goat-sec > img,
  .goat-sec-info {
    width: 100%;
    margin: 0px;
  }
  .goat-sec-info {
    padding-top: 50px;
    text-align: center;
  }
  /* Goat Sec End */
  /* Online Games Sec Start */
  .online-games {
    margin: 0;
  }
  .online-games-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
  }
  .online-games-info {
    margin-top: 50px;
  }
  /* Online Games Sec End */
  /* play games Start */
  .play-game-sec{
    flex-direction: column-reverse;
    margin: 0px;
  }
  .play-game-img{
    width: 80%;
    margin-right: 25px;
  }
  .play-game-img img{
    width: 100%;
    height: 100%;
  }
  .play-game-img-tow img{
    width: 40% ;
    height: 50%;
    left: 75%;
  }
  .play-game-info{
    margin: 50px 0px ;
    width: 100%;
    text-align: center;
  }
  /* play games End */
  /* button Sec Start */
  .batons-sec {
    width: 100%;
    margin: 100px auto 0px;
  }
  .content {
    flex-basis: 100px;
    margin: 15px;
  }
  .content img {
    width: 40px;
    padding-right: 5px;
  }
  .content p {
    font-size: 0.8rem;
  }
  /* button Sec End */
  /* Main End */
  /* footer Start */
  footer {
    width: 100%;
    margin-top: 0px;
  }
  /* footer End */
}
