@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat:wght@100&family=Open+Sans:wght@800&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* Header Start */
header {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 240px;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo > img {
  width: 50px;
}
.nav-logo > p {
  padding-left: 10px;
  font-weight: 700;
  font-size: 2rem;
}
.nav-logo > p > span {
  color: #ff42a5;
}
.nav-items > ul {
  display: flex;
  align-items: center;
  gap: 32px;
}
.nav-items li {
  list-style: none;
}
.nav-items a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.2rem;
  font-weight: 500;
}
.nav-icon {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 18px 24px;
}
.nav-icon i {
  font-size: 1.2rem;
  padding-left: 20px;
}
/* Header End */

/* Main Start */

/* Goat Sec Start */
  .goat-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('./images/Group\ 14.png');
    background-repeat: no-repeat;
  }
  .goat-sec-info{
    margin-left: 240px;
  }
  .goat-title{
    color: #0B0223;
    font-weight: 600;
    font-size:3rem; 
  }
  .goat-name{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 800;
    font-size: 6rem;
    margin-bottom: 24px;
  }
  .goat-p{
    color: #534C64;
    font-weight: 500;
    font-size: 1.04rem;
    margin-bottom: 15px;
  }
  .goat-btn-one{
   border-radius: 48px;
    background:#FF42A5;
    padding: 20px 40px;
    color: #FFF;
    font-weight: 600;
    font-size: 1.04rem;
  }
  .goat-btn-tow{
    border-radius: 48px;
    background: #4EC5F7;
    padding: 20px 40px ;
    color: #FFF;
    font-weight: 600;
    font-size: 1.04rem;
    margin-left: 15px;
  }
  .goat-sec button{
    margin-top: 40px;
    border: 0px; 
  }
  .goat-sec > img{
    margin-right: 240px;
  }
/* Goat Sec End */
/* Online Games Sec Start */
  .online-games{
    margin: 100px 240px;
  }
  .online-games-info{
    text-align: center;
  }
  .online-games-t{
    color: #0B0223;
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 16px;
  }
  .online-games-t span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .online-games-p{
    color: #534C64;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 45px;
  }
  .online-games-cards{
    display: flex;
    gap: 24px;
  }
  .online-games-div p{
    padding-top: 24px;
  }
  
  .hide{
    display: none;
  }
/* Online Games Sec End */
/* play games Start */
  .play-game-sec{
    display: flex;
    align-items: center;
    margin: 100px 240px;
    gap:250px;
  }
  .play-game-img{
    margin-left: -430px;
    margin-bottom: -520px;
  }
  .play-game-info{
    margin-left: -150px;
  }
  
  .play-game-t{
    color: #0B0223;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 24px;
  }
  .play-game-t span{   
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .play-game-p{
    color: #534C64;
    font-weight: 400;
    font-size: 1.02rem;
    
  }
  /* play games End */
  /* button Sec Start */
  .batons-sec{
    margin: 200px 240px;
  }
  .first-batons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
  .first-batons p{
text-align: center;
  }
  .second-batons{
    margin-top: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 48px;
  }
  /* button Sec End */
/* Main End */
/* footer Start */
footer{
  margin-top: 200px;
  background: #0B0223;
  color: #FFF;
}
.foot{
  padding-top: 100px;
  justify-content: center;
}
footer ul{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 60px;
}
footer ul> li{
  list-style: none;
  color: #FFF;
  font-weight: 600;
  font-size: 1rem;
}
.foot-icons a{
  color: #FFF;
  font-size: 1.8rem;
}
.anoter-li li{
  color: rgba(255, 255, 255, 0.60);
font-weight: 500;
}
.copy-right{
  color: rgba(255, 255, 255, 0.60);
  text-align: center;
  margin-top: 30px;
  padding-bottom: 100px;
font-size: 1rem;
font-weight: 500;
}
/* footer End */

/* Media Query For Mobile User */
@media screen and (max-width:576px) {
  /* Header Start */
  main{
    padding: 15px;
  }
    nav{
      flex-direction: column;
      padding: 0;
    }
    .nav-logo,.nav-icon{
      margin-top: 50px
    }
    .nav-items>ul{
      margin-top: 50px;
      flex-direction: column;
    } 
  /* Header End */
  /* Main Start */
  /* Goat Sec Start */
    .goat-sec{
      margin-top: 75px;
      flex-direction: column-reverse;
      background-position: bottom;
      background-size: 500px;
    }
    .goat-sec > img ,.goat-sec-info{
      width: 100%;
      margin: 0px;
    }
    .goat-sec-info{
      padding-top: 50px;
      
    }
  /* Goat Sec End */
  /* Online Games Sec Start */
  .online-games{
    margin: 0;
  }
  .online-games-cards{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .online-games-info{
    margin-top: 50px;
  }
  /* Online Games Sec End */
  /* play games Start */
  .play-game-sec{
    flex-direction: column-reverse;
    margin: 0px;
  }
  .play-game-info{
    text-align: center;
    margin: 80px 0px;
  }
  .play-game-p{
    margin: 30px 0px;
  }
  .play-game-sec>img{
    width: 300px;
    margin-top: -50px;
  }
  .play-game-img>img{
    max-width: 100px;
    margin-left:700px;
    position: relative;
    margin-top: -90px;
  }
  /* play games End */
  /* button Sec Start */

  /* button Sec End */
  /* Main End */ 
  /* footer Start */
  footer {
    width: 100%;
    margin-top:0px ;
  }
  footer ul {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1px;
    text-align: center;
  }
  .anoter-li ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  /* footer End */
}

/* Media Query For Tablet User */
@media screen and (min-width:576px) and (max-width:992px){
  main{
    padding: 50px;
  }
  /* Header Start */
  nav{
    flex-direction: column;
    padding: 0;
  }
  .nav-logo{
    margin-top: 50px
  }
  .nav-items>ul{
    margin-top: 50px;
    gap: 50px;
  }
  /* Header End */
  /* Main Start */
  /* Goat Sec Start */
  .goat-sec{
    margin-top: 75px;
    flex-direction: column-reverse;
    background-position: bottom;
    background-size: 500px;
  }
  .goat-sec > img ,.goat-sec-info{
    width: 100%;
    margin: 0px;
  }
  .goat-sec-info{
    padding-top: 50px;
    text-align: center;
  }
  /* Goat Sec End */
  /* Online Games Sec Start */
  .online-games{
    margin: 0;
  }
  .online-games-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: center;
  }
  .online-games-info{
    margin-top: 50px;
  }
  /* Online Games Sec End */
  /* play games Start */
  .play-game-sec{
    flex-direction: column-reverse;
    margin: 0px;
  }
  .play-game-info{
    text-align: center;
    margin: 80px 0px;
  }
  .play-game-p{
    margin: 30px 0px;
  }
  .play-game-sec>img{
    width: 300px;
    margin-top: -50px;
  }
  .play-game-img>img{
    max-width: 100px;
    margin-left:700px;
    position: relative;
    margin-top: -90px;
  }
  /* play games End */
  /* button Sec Start */
  /* button Sec End */
  /* Main End */
  /* footer Start */
  footer {
    width: 100%;
    margin-top:0px ;
  }
  /* footer End */  
}